.adminnotes-action {
	position: absolute;
	top: 8px;
	right: 8px;
}

.adminnotes-action a {
	text-decoration: none;
	color: #bcbcbc;
	padding: 2px 4px;
}

.adminnotes-action a:hover {
	color: #969696;
}
